.text-center {
    text-align: center;
}

.rth-input{
    display: none;
}

.home-search-form {
    opacity: 0.8;
    border-radius: 0px!important;
    background-color: #ffffff;
}

.home-header-text-1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 50px;
}

.home-header-text-2 {
    color: #c7c7c7;
    font-size: 20px;
    padding-bottom: 40px;
}

.home-page {
    padding-top: 80px;
}

.home-page input {
    border-radius: 0px;
    min-height: 50px;
}

.center {
    text-align: center;
}

.search-button-home {
    background-color: orangered;
    border-color: transparent;
    color: white;
}

.login-button {
    border-color: #FFFFFF;
    border-radius: 0px;
    color: #FFFFFF;
    float: right;
}

.right {
    float: right;
}

.register-link {
    color: black
}

.header-text, .white {
    color: #f0f0f0;
}